<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.homework9">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        tools:replace="android:label"
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:icon="@drawable/app_icon"
        android:label="Product Search"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ItemActivity"
            android:parentActivityName=".ProductListingActivity"></activity>
        <activity
            android:name=".ProductListingActivity"
            android:label="Search Results"
            android:parentActivityName=".SearchActivity"></activity>
        <activity
            android:name=".SplashActivity"
            android:label="Product Search"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SearchActivity"
            android:label="Product Search"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>